# ORM Quick Start

In [ ]:
from sqlalchemy import Column
from sqlalchemy import ForeignKey
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

class User(Base):
    __tablename__ = "user_account"

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String(30))

    addresses = relationship(
        "Address", back_populates="user", cascade="all, delete-orphan"
    )

    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"

    id = Column(Integer, primary_key=True)
    email_address = Column(String(50), nullable=False)
    user_id = Column(Integer, ForeignKey("user_account.id"), nullable=False)

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/tutorial?charset=utf8mb4", echo=True, future=True)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import Session

with Session(engine) as session:

    spongebob = User(
        name="spongebob",
        fullname="Spongebob Squarepants",
        addresses=[Address(email_address="spongebob@sqlalchemy.org")],
    )
    sandy = User(
        name="sandy",
        fullname="Sandy Cheeks",
        addresses=[
            Address(email_address="sandy@sqlalchemy.org"),
            Address(email_address="sandy@squirrelpower.org"),
        ],
    )
    patrick = User(name="patrick", fullname="Patrick Star")

    session.add_all([spongebob, sandy, patrick])

    session.commit()

In [ ]:
from sqlalchemy import select

session = Session(engine)

stmt = select(User).where(User.name.in_(["spongebob", "sandy"]))

for user in session.scalars(stmt):
    print(user)

In [ ]:
stmt = (
    select(Address)
    .join(Address.user)
    .where(User.name == "sandy")
    .where(Address.email_address == "sandy@sqlalchemy.org")
)
sandy_address = session.scalars(stmt).one()

In [ ]:
sandy_address

In [ ]:
stmt = select(User).where(User.name == "patrick")
patrick = session.scalars(stmt).one()

In [ ]:
patrick.addresses.append(Address(email_address="patrickstar@sqlalchemy.org"))

In [ ]:
sandy_address.email_address = "sandy_cheeks@sqlalchemy.org"

In [ ]:
session.commit()

In [ ]:
sandy = session.get(User, 2)

In [ ]:
sandy.addresses.remove(sandy_address)

In [ ]:
session.flush()

In [ ]:
session.delete(patrick)

In [ ]:
session.commit()

# Ⅰ. Establishing Connectivity  
연결 설정
***

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/tutorial", echo=True, future=True)

# Ⅱ. Working with Transactions and the DBAPI  
트랜잭션 및 DBAPI 작업
***

## 1. Getting a Connection  
연결하기

In [ ]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

## 2. Committing Changes  
변경 사항 커밋

In [ ]:
# "commit as you go"
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

In [ ]:
# "begin once"
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

## 3. Basics of Statement Execution  
실행문 기초

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

In [ ]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

## 4. Executing with an ORM Session  
ORM 세션으로 실행

In [ ]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

In [ ]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

# Ⅲ. Working with Database Metadata
데이터베이스 메타데이터 작업
***

## 1. Setting up MetaData with Table objects
테이블 개체로 메타데이터 설정

In [ ]:
from sqlalchemy import MetaData
metadata_obj = MetaData()

In [ ]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String(30)),
)

In [ ]:
user_table.c.name

In [ ]:
user_table.c.keys()

## 2. Declaring Simple Constraints
간단한 제약 조건 선언

In [ ]:
user_table.primary_key

In [ ]:
from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
)

## 3. Emitting DDL to the Database
데이터베이스에 DDL 내보내기

In [ ]:
metadata_obj.create_all(engine)

## 4. Defining Table Metadata with the ORM
ORM으로 테이블 메타데이터 정의
***

### (1) Setting up the Registry
레지스트리 설정

In [ ]:
from sqlalchemy.orm import registry
mapper_registry = registry()

In [ ]:
mapper_registry.metadata

In [ ]:
Base = mapper_registry.generate_base()

In [ ]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()

### (2) Declaring Mapped Classes
매핑된 클래스 선언하기

In [ ]:
from sqlalchemy.orm import relationship
class User(Base):
    __tablename__ = "user_account"

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)

    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"

    id = Column(Integer, primary_key=True)
    email_address = Column(String(50), nullable=False)
    user_id = Column(Integer, ForeignKey("user_account.id"))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [ ]:
User.__table__

### (3) Other Mapped Class Details
기타 매핑된 클래스 세부 정보

In [ ]:
sandy = User(name="sandy", fullname="Sandy Cheeks")

In [ ]:
sandy

### (4) Emitting DDL to the database
데이터베이스에 DDL 내보내기

In [ ]:
# emit CREATE statements given ORM registry
mapper_registry.metadata.create_all(engine)

In [ ]:
# the identical MetaData object is also present on the
# declarative base
Base.metadata.create_all(engine)

### (5) Combining Core Table Declarations with ORM Declarative
핵심 테이블 선언과 ​​ORM 선언 결합

In [ ]:
mapper_registry = registry()
Base = mapper_registry.generate_base()


class User(Base):
    __table__ = user_table

    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
        return f"User({self.name!r}, {self.fullname!r})"


class Address(Base):
    __table__ = address_table

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address({self.email_address!r})"

## 5. Table Reflection
테이블 반영

In [ ]:
some_table = Table("some_table", metadata_obj, autoload_with=engine)

In [ ]:
some_table

# Ⅳ. Working with Data
데이터 작업
***

## 1. Inserting Rows with Core
행삽입

### (1) The insert() SQL Expression Construct
insert() SQL 표현식 구조

In [ ]:
from sqlalchemy import insert
stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants")

In [ ]:
print(stmt)

In [ ]:
compiled = stmt.compile()

In [ ]:
compiled.params

### (2) Executing the Statement
쿼리 실행

In [ ]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

In [ ]:
result.inserted_primary_key

### (3) INSERT usually generates the “values” clause automatically

In [ ]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"},
        ],
    )
    conn.commit()

In [ ]:
from sqlalchemy import select, bindparam
scalar_subq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {"username": "spongebob", "email_address": "spongebob@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@squirrelpower.org"},
        ],
    )
    conn.commit()

### (4) INSERT…FROM SELECT

In [ ]:
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")

In [ ]:
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)

In [ ]:
print(insert_stmt)

### (5) INSERT…RETURNING

In [ ]:
insert_stmt = insert(address_table).returning(
    address_table.c.id, address_table.c.email_address
)
print(insert_stmt)

In [ ]:
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)
print(insert_stmt.returning(address_table.c.id, address_table.c.email_address))

## 2. Selecting Rows with Core or ORM
Core 또는 ORM이 있는 행 선택

### (1) The select() SQL Expression Construct

In [ ]:
from sqlalchemy import select
stmt = select(user_table).where(user_table.c.name == "spongebob")
print(stmt)

In [ ]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

In [ ]:
stmt = select(User).where(User.name == "spongebob")
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

### (2) Setting the COLUMNS and FROM clause

In [ ]:
print(select(user_table))

#### Selecting ORM Entities and Columns

In [ ]:
print(select(user_table.c.name, user_table.c.fullname))

In [ ]:
print(select(User))

In [ ]:
row = session.execute(select(User)).first()

In [ ]:
row

In [ ]:
row[0]

In [ ]:
user = session.scalars(select(User)).first()

In [ ]:
user

In [ ]:
print(select(User.name, User.fullname))

In [ ]:
row = session.execute(select(User.name, User.fullname)).first()

In [ ]:
row

In [ ]:
session.execute(
    select(User.name, Address).where(User.id == Address.user_id).order_by(Address.id)
).all()

#### Selecting from Labeled SQL Expressions

In [ ]:
from sqlalchemy import func, cast
stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

#### Selecting with Textual Column Expressions

In [ ]:
from sqlalchemy import text
stmt = select(text("'some phrase'"), user_table.c.name).order_by(user_table.c.name)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

In [ ]:
from sqlalchemy import literal_column
stmt = select(literal_column("'some phrase'").label("p"), user_table.c.name).order_by(
    user_table.c.name
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

### (3) The WHERE clause

In [ ]:
print(user_table.c.name == "squidward")

In [ ]:
print(address_table.c.user_id > 10)

In [ ]:
print(select(user_table).where(user_table.c.name == "squidward"))

In [ ]:
print(
    select(address_table.c.email_address)
    .where(user_table.c.name == "squidward")
    .where(address_table.c.user_id == user_table.c.id)
)

In [ ]:
print(
    select(address_table.c.email_address).where(
        user_table.c.name == "squidward", address_table.c.user_id == user_table.c.id
    )
)

In [ ]:
from sqlalchemy import and_, or_
print(
    select(Address.email_address).where(
        and_(
            or_(User.name == "squidward", User.name == "sandy"),
            Address.user_id == User.id,
        )
    )
)

In [ ]:
print(select(User).filter_by(name="spongebob", fullname="Spongebob Squarepants"))

#### Explicit FROM clauses and JOINs

In [ ]:
print(select(user_table.c.name))

In [ ]:
print(select(user_table.c.name, address_table.c.email_address))

In [ ]:
print(
    select(user_table.c.name, address_table.c.email_address).join_from(
        user_table, address_table
    )
)

In [ ]:
print(select(address_table.c.email_address).select_from(user_table).join(address_table))

In [ ]:
from sqlalchemy import func
print(select(func.count("*")).select_from(user_table))

#### Setting the ON Clause

In [ ]:
print(
    select(address_table.c.email_address)
    .select_from(user_table)
    .join(address_table, user_table.c.id == address_table.c.user_id)
)

#### OUTER and FULL join

In [ ]:
print(select(user_table).join(address_table, isouter=True))

In [ ]:
print(select(user_table).join(address_table, full=True))

### (4) ORDER BY, GROUP BY, HAVING

#### ORDER BY¶

In [ ]:
print(select(user_table).order_by(user_table.c.name))

In [ ]:
print(select(User).order_by(User.fullname.desc()))

#### Aggregate functions with GROUP BY / HAVING

In [ ]:
from sqlalchemy import func
count_fn = func.count(user_table.c.id)
print(count_fn)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(
        select(User.name, func.count(Address.id).label("count"))
        .join(Address)
        .group_by(User.name)
        .having(func.count(Address.id) > 1)
    )
    print(result.all())

#### Ordering or Grouping by a Label

In [ ]:
from sqlalchemy import func, desc
stmt = (
    select(Address.user_id, func.count(Address.id).label("num_addresses"))
    .group_by("user_id")
    .order_by("user_id", desc("num_addresses"))
)
print(stmt)

### (5) Using Aliases

In [ ]:
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()
print(
    select(user_alias_1.c.name, user_alias_2.c.name).join_from(
        user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id
    )
)

#### ORM Entity Aliases

In [ ]:
from sqlalchemy.orm import aliased
address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User)
    .join_from(User, address_alias_1)
    .where(address_alias_1.email_address == "patrick@aol.com")
    .join_from(User, address_alias_2)
    .where(address_alias_2.email_address == "patrick@gmail.com")
)

### (6) Subqueries and CTEs

In [ ]:
subq = (
    select(func.count(address_table.c.id).label("count"), address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .subquery()
)

In [ ]:
print(subq)

In [ ]:
print(select(subq.c.user_id, subq.c.count))

In [ ]:
stmt = select(user_table.c.name, user_table.c.fullname, subq.c.count).join_from(
    user_table, subq
)

print(stmt)

#### Common Table Expressions (CTEs)

In [ ]:
subq = (
    select(func.count(address_table.c.id).label("count"), address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .cte()
)

stmt = select(user_table.c.name, user_table.c.fullname, subq.c.count).join_from(
    user_table, subq
)

print(stmt)

#### ORM Entity Subqueries/CTEs

In [ ]:
subq = select(Address).where(~Address.email_address.like("%@aol.com")).subquery()
address_subq = aliased(Address, subq)
stmt = (
    select(User, address_subq)
    .join_from(User, address_subq)
    .order_by(User.id, address_subq.id)
)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

In [ ]:
cte_obj = select(Address).where(~Address.email_address.like("%@aol.com")).cte()
address_cte = aliased(Address, cte_obj)
stmt = (
    select(User, address_cte)
    .join_from(User, address_cte)
    .order_by(User.id, address_cte.id)
)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

### (7) Scalar and Correlated Subqueries

In [ ]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .scalar_subquery()
)
print(subq)

In [ ]:
print(subq == 5)

In [ ]:
stmt = select(user_table.c.name, subq.label("address_count"))
print(stmt)

In [ ]:
stmt = (
    select(
        user_table.c.name, address_table.c.email_address, subq.label("address_count")
    )
    .join_from(user_table, address_table)
    .order_by(user_table.c.id, address_table.c.id)
)
print(stmt)

In [ ]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .scalar_subquery()
    .correlate(user_table)
)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(
        select(
            user_table.c.name,
            address_table.c.email_address,
            subq.label("address_count"),
        )
        .join_from(user_table, address_table)
        .order_by(user_table.c.id, address_table.c.id)
    )
    print(result.all())

#### LATERAL correlation

In [ ]:
subq = (
    select(
        func.count(address_table.c.id).label("address_count"),
        address_table.c.email_address,
        address_table.c.user_id,
    )
    .where(user_table.c.id == address_table.c.user_id)
    .lateral()
)
stmt = (
    select(user_table.c.name, subq.c.address_count, subq.c.email_address)
    .join_from(user_table, subq)
    .order_by(user_table.c.id, subq.c.email_address)
)
print(stmt)

### (8) UNION, UNION ALL and other set operations

In [ ]:
from sqlalchemy import union_all
stmt1 = select(user_table).where(user_table.c.name == "sandy")
stmt2 = select(user_table).where(user_table.c.name == "spongebob")
u = union_all(stmt1, stmt2)
with engine.connect() as conn:
    result = conn.execute(u)
    print(result.all())

In [ ]:
u_subq = u.subquery()
stmt = (
    select(u_subq.c.name, address_table.c.email_address)
    .join_from(address_table, u_subq)
    .order_by(u_subq.c.name, address_table.c.email_address)
)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

#### Selecting ORM Entities from Unions

In [ ]:
stmt1 = select(User).where(User.name == "sandy")
stmt2 = select(User).where(User.name == "spongebob")
u = union_all(stmt1, stmt2)

In [ ]:
orm_stmt = select(User).from_statement(u)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

In [ ]:
user_alias = aliased(User, u.subquery())
orm_stmt = select(user_alias).order_by(user_alias.id)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

### (9) EXISTS subqueries

In [ ]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .having(func.count(address_table.c.id) > 1)
).exists()
with engine.connect() as conn:
    result = conn.execute(select(user_table.c.name).where(subq))
    print(result.all())

In [ ]:
subq = (
    select(address_table.c.id).where(user_table.c.id == address_table.c.user_id)
).exists()
with engine.connect() as conn:
    result = conn.execute(select(user_table.c.name).where(~subq))
    print(result.all())

### (10) Working with SQL Functions

In [ ]:
print(select(func.count()).select_from(user_table))

In [ ]:
print(select(func.lower("A String With Much UPPERCASE")))

In [ ]:
stmt = select(func.now())
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

In [ ]:
print(select(func.some_crazy_function(user_table.c.name, 17)))

In [ ]:
from sqlalchemy.dialects import postgresql
print(select(func.now()).compile(dialect=postgresql.dialect()))

In [ ]:
from sqlalchemy.dialects import oracle
print(select(func.now()).compile(dialect=oracle.dialect()))

#### Functions Have Return Types

In [ ]:
func.now().type

In [ ]:
from sqlalchemy import JSON
function_expr = func.json_object('{a, 1, b, "def", c, 3.5}', type_=JSON)

In [ ]:
stmt = select(function_expr["def"])
print(stmt)

#### Built-in Functions Have Pre-Configured Return Types

In [ ]:
m1 = func.max(Column("some_int", Integer))
m1.type

In [ ]:
m2 = func.max(Column("some_str", String))
m2.type

In [ ]:
func.now().type

In [ ]:
func.current_date().type

In [ ]:
func.concat("x", "y").type

In [ ]:
func.upper("lowercase").type

In [ ]:
print(select(func.upper("lowercase") + " suffix"))

#### Advanced SQL Function Techniques

#### Using Window Functions

In [ ]:
stmt = (
    select(
        func.row_number().over(partition_by=user_table.c.name),
        user_table.c.name,
        address_table.c.email_address,
    )
    .select_from(user_table)
    .join(address_table)
)
with engine.connect() as conn:  
    result = conn.execute(stmt)
    print(result.all())

In [ ]:
stmt = (
    select(
        func.count().over(order_by=user_table.c.name),
        user_table.c.name,
        address_table.c.email_address,
    )
    .select_from(user_table)
    .join(address_table)
)
with engine.connect() as conn:  
    result = conn.execute(stmt)
    print(result.all())

#### Special Modifiers WITHIN GROUP, FILTER

In [ ]:
print(
    func.unnest(
        func.percentile_disc([0.25, 0.5, 0.75, 1]).within_group(user_table.c.name)
    )
)

In [ ]:
stmt = (
    select(
        func.count(address_table.c.email_address).filter(user_table.c.name == "sandy"),
        func.count(address_table.c.email_address).filter(
            user_table.c.name == "spongebob"
        ),
    )
    .select_from(user_table)
    .join(address_table)
)
with engine.connect() as conn:  
    result = conn.execute(stmt)
    print(result.all())

#### Table-Valued Functions

In [ ]:
onetwothree = func.json_each('["one", "two", "three"]').table_valued("value")
stmt = select(onetwothree).where(onetwothree.c.value.in_(["two", "three"]))
with engine.connect() as conn:
    result = conn.execute(stmt)
    result.all()

#### Column Valued Functions - Table Valued Function as a Scalar Column

In [ ]:
from sqlalchemy import select, func
stmt = select(func.json_array_elements('["one", "two"]').column_valued("x"))
print(stmt)

In [ ]:
from sqlalchemy.dialects import oracle
stmt = select(func.scalar_strings(5).column_valued("s"))
print(stmt.compile(dialect=oracle.dialect()))

### (11) Data Casts and Type Coercion

In [ ]:
from sqlalchemy import cast
stmt = select(cast(user_table.c.id, String))
with engine.connect() as conn:
    result = conn.execute(stmt)
    result.all()

In [ ]:
from sqlalchemy import JSON
print(cast("{'a': 'b'}", JSON)["a"])

#### type_coerce() - a Python-only “cast”

In [ ]:
import json
from sqlalchemy import JSON
from sqlalchemy import type_coerce
from sqlalchemy.dialects import mysql
s = select(type_coerce({"some_key": {"foo": "bar"}}, JSON)["some_key"])
print(s.compile(dialect=mysql.dialect()))

## 3. Updating and Deleting Rows with Core
Core로 행 업데이트 및 삭제

### (1) The update() SQL Expression Construct

In [ ]:
from sqlalchemy import update
stmt = (
    update(user_table)
    .where(user_table.c.name == "patrick")
    .values(fullname="Patrick the Star")
)
print(stmt)

In [ ]:
stmt = update(user_table).values(fullname="Username: " + user_table.c.name)
print(stmt)

In [ ]:
from sqlalchemy import bindparam
stmt = (
    update(user_table)
    .where(user_table.c.name == bindparam("oldname"))
    .values(name=bindparam("newname"))
)
with engine.begin() as conn:
    conn.execute(
        stmt,
        [
            {"oldname": "jack", "newname": "ed"},
            {"oldname": "wendy", "newname": "mary"},
            {"oldname": "jim", "newname": "jake"},
        ],
    )

#### Correlated Updates

In [ ]:
scalar_subq = (
    select(address_table.c.email_address)
    .where(address_table.c.user_id == user_table.c.id)
    .order_by(address_table.c.id)
    .limit(1)
    .scalar_subquery()
)
update_stmt = update(user_table).values(fullname=scalar_subq)
print(update_stmt)

#### UPDATE..FROM

In [ ]:
update_stmt = (
    update(user_table)
    .where(user_table.c.id == address_table.c.user_id)
    .where(address_table.c.email_address == "patrick@aol.com")
    .values(fullname="Pat")
)
print(update_stmt)

In [ ]:
update_stmt = (
    update(user_table)
    .where(user_table.c.id == address_table.c.user_id)
    .where(address_table.c.email_address == "patrick@aol.com")
    .values(
        {user_table.c.fullname: "Pat", address_table.c.email_address: "pat@aol.com"}
    )
)
from sqlalchemy.dialects import mysql
print(update_stmt.compile(dialect=mysql.dialect()))

#### Parameter Ordered Updates

In [ ]:
update_stmt = update(some_table).ordered_values(
    (some_table.c.y, 20), (some_table.c.x, some_table.c.y + 10)
)
print(update_stmt)

### (2) The delete() SQL Expression Construct

In [ ]:
from sqlalchemy import delete
stmt = delete(user_table).where(user_table.c.name == "patrick")
print(stmt)

#### Multiple Table Deletes

In [ ]:
delete_stmt = (
    delete(user_table)
    .where(user_table.c.id == address_table.c.user_id)
    .where(address_table.c.email_address == "patrick@aol.com")
)
from sqlalchemy.dialects import mysql
print(delete_stmt.compile(dialect=mysql.dialect()))

### (3) Getting Affected Row Count from UPDATE, DELETE

In [ ]:
with engine.begin() as conn:
    result = conn.execute(
        update(user_table)
        .values(fullname="Patrick McStar")
        .where(user_table.c.name == "patrick")
    )
    print(result.rowcount)

### (4) Using RETURNING with UPDATE, DELETE

In [ ]:
update_stmt = (
    update(user_table)
    .where(user_table.c.name == "patrick")
    .values(fullname="Patrick the Star")
    .returning(user_table.c.id, user_table.c.name)
)
print(update_stmt)

In [ ]:
delete_stmt = (
    delete(user_table)
    .where(user_table.c.name == "patrick")
    .returning(user_table.c.id, user_table.c.name)
)
print(delete_stmt)

### (5) Further Reading for UPDATE, DELETE

# Ⅴ. Data Manipulation with the ORM
ORM을 사용한 데이터 조작
***

## 1. Inserting Rows with the ORM
ORM으로 행 삽입

### (1) Instances of Classes represent Rows

In [ ]:
squidward = User(name="squidward", fullname="Squidward Tentacles")
krabs = User(name="ehkrabs", fullname="Eugene H. Krabs")

In [ ]:
squidward

### (2) Adding objects to a Session

In [ ]:
session = Session(engine)

In [ ]:
session.add(squidward)
session.add(krabs)

In [ ]:
session.new

### (3) Flushing

In [ ]:
session.flush()

### (4) Autogenerated primary key attributes

In [ ]:
squidward.id

In [ ]:
krabs.id

### (5) Getting Objects by Primary Key from the Identity Map

In [ ]:
some_squidward = session.get(User, 4)
some_squidward

In [ ]:
some_squidward is squidward

### (6) Committing

In [ ]:
session.commit()

## 2. Updating ORM Objects
ORM으로 행 수정

### (1) ORM-enabled UPDATE statements

In [ ]:
sqlsandy = session.execute(select(User).filter_by(name="sandy")).scalar_one()

In [ ]:
sandy

In [ ]:
sandy.fullname = "Sandy Squirrel"

In [ ]:
sandy in session.dirty

In [ ]:
sandy_fullname = session.execute(select(User.fullname).where(User.id == 2)).scalar_one()
print(sandy_fullname)

In [ ]:
sandy in session.dirty

#### ORM-enabled UPDATE statements

In [ ]:
session.execute(
    update(User)
    .where(User.name == "sandy")
    .values(fullname="Sandy Squirrel Extraordinaire")
)

In [ ]:
sandy.fullname

## 3. Deleting ORM Objects
ORM으로 행 삭제

In [ ]:
sqlpatrick = session.get(User, 3)

In [ ]:
session.delete(patrick)

In [ ]:
session.execute(select(User).where(User.name == "patrick")).first()

In [ ]:
patrick in session

### (1) ORM-enabled DELETE Statements

In [ ]:
# refresh the target object for demonstration purposes
# only, not needed for the DELETE
sqlsquidward = session.get(User, 4)

In [ ]:
session.execute(delete(User).where(User.name == "squidward"))

In [ ]:
squidward in session

## 4. Rolling Back
ORM으로 롤백

In [ ]:
session.rollback()

In [ ]:
sandy.__dict__

In [ ]:
sandy.fullname

In [ ]:
sandy.__dict__

In [ ]:
patrick in session

In [ ]:
session.execute(select(User).where(User.name == "patrick")).scalar_one() is patrick

## 5. Closing a Session

In [ ]:
session.close()

In [ ]:
squidward.name

In [ ]:
session.add(squidward)
squidward.name

# Ⅵ. Working with Related Objects
관련 객체 작업
***

In [ ]:
from sqlalchemy.orm import relationship


class User(Base):
    __tablename__ = "user_account"

    # ... Column mappings

    addresses = relationship("Address", back_populates="user")


class Address(Base):
    __tablename__ = "address"

    # ... Column mappings

    user = relationship("User", back_populates="addresses")

## 1. Persisting and Loading Relationships
관계 유지 및 로드

In [ ]:
u1 = User(name="pkrabs", fullname="Pearl Krabs")
u1.addresses

In [ ]:
a1 = Address(email_address="pearl.krabs@gmail.com")
u1.addresses.append(a1)

In [ ]:
u1.addresses

In [ ]:
a1.user

In [ ]:
a2 = Address(email_address="pearl@aol.com", user=u1)
u1.addresses

In [ ]:
# equivalent effect as a2 = Address(user=u1)
a2.user = u1

### (1) Cascading Objects into the Session

In [ ]:
session.add(u1)
u1 in session
a1 in session
a2 in session

In [ ]:
print(u1.id)

In [ ]:
print(a1.user_id)

In [ ]:
session.commit()

## 2. Loading Relationships
로드 관계

In [ ]:
u1.id

## 3. Using Relationships in Queries
쿼리에서 관계 사용

### (1) Using Relationships to Join

In [ ]:
print(select(Address.email_address).select_from(User).join(User.addresses))

In [ ]:
print(select(Address.email_address).join_from(User, Address))

### (2) Joining between Aliased targets

In [ ]:
print(
    select(User)
    .join(User.addresses.of_type(address_alias_1))
    .where(address_alias_1.email_address == "patrick@aol.com")
    .join(User.addresses.of_type(address_alias_2))
    .where(address_alias_2.email_address == "patrick@gmail.com")
)

In [ ]:
user_alias_1 = aliased(User)
print(select(user_alias_1.name).join(user_alias_1.addresses))

### (3) Augmenting the ON Criteria

In [ ]:
stmt = select(User.fullname).join(
    User.addresses.and_(Address.email_address == "pearl.krabs@gmail.com")
)
session.execute(stmt).all())
[('Pearl Krabs',)]

### (4) EXISTS forms: has() / any()

In [ ]:
stmt = select(User.fullname).where(
    User.addresses.any(Address.email_address == "pearl.krabs@gmail.com")
)
session.execute(stmt).all()

In [ ]:
stmt = select(User.fullname).where(~User.addresses.any())
session.execute(stmt).all()

In [ ]:
stmt = select(Address.email_address).where(Address.user.has(User.name == "pkrabs"))
session.execute(stmt).all()

### (5) Common Relationship Operators

In [ ]:
print(select(Address).where(Address.user == u1))

In [ ]:
print(select(Address).where(Address.user != u1))

In [ ]:
print(select(User).where(User.addresses.contains(a1)))

In [ ]:
from sqlalchemy.orm import with_parent
print(select(Address).where(with_parent(u1, User.addresses)))

## 4. Loader Strategies
로더 전략

In [ ]:
for user_obj in session.execute(
    select(User).options(selectinload(User.addresses))
).scalars():
    user_obj.addresses  # access addresses collection already loaded

### (1) Selectin Load

In [ ]:
from sqlalchemy.orm import selectinload
stmt = select(User).options(selectinload(User.addresses)).order_by(User.id)
for row in session.execute(stmt):
    print(
        f"{row.User.name}  ({', '.join(a.email_address for a in row.User.addresses)})"
    )

### (2) Joined Load

In [ ]:
from sqlalchemy.orm import joinedload
stmt = (
    select(Address)
    .options(joinedload(Address.user, innerjoin=True))
    .order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address} {row.Address.user.name}")

### (3) Explicit Join + Eager load

In [ ]:
from sqlalchemy.orm import contains_eager
stmt = (
    select(Address)
    .join(Address.user)
    .where(User.name == "pkrabs")
    .options(contains_eager(Address.user))
    .order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address} {row.Address.user.name}")

In [ ]:
stmt = (
    select(Address)
    .join(Address.user)
    .where(User.name == "pkrabs")
    .options(joinedload(Address.user))
    .order_by(Address.id)
)
print(stmt)  # SELECT has a JOIN and LEFT OUTER JOIN unnecessarily

### (4) Augmenting Loader Strategy Paths

In [ ]:
from sqlalchemy.orm import selectinload
stmt = (
    select(User)
    .options(
        selectinload(
            User.addresses.and_(~Address.email_address.endswith("sqlalchemy.org"))
        )
    )
    .order_by(User.id)
    .execution_options(populate_existing=True)
)
for row in session.execute(stmt):
    print(
        f"{row.User.name}  ({', '.join(a.email_address for a in row.User.addresses)})"
    )

### (5) Raiseload

In [ ]:
class User(Base):
    __tablename__ = "user_account"

    # ... Column mappings

    addresses = relationship("Address", back_populates="user", lazy="raise_on_sql")


class Address(Base):
    __tablename__ = "address"

    # ... Column mappings

    user = relationship("User", back_populates="addresses", lazy="raise_on_sql")

In [ ]:
u1 = s.execute(select(User)).scalars().first()
u1.addresses

In [ ]:
u1 = s.execute(select(User).options(selectinload(User.addresses))).scalars().first()

# Ⅶ. Further Reading
기타 추가 자료
***